body {
    background: #DDDDDD;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-family: 'Bree Serif', serif;
    text-shadow: 2px 3px 1px #AAAAAA;
}

p {
    margin-bottom: 0em !important;
}

td {
    border: 2px solid #AAAAAA;
    border-radius: 0.5em;
    min-width: 32vw;
    max-width: 32vw;
    height: 31vh;
    text-align: center;
    position: relative;
}

.pt1em {
    padding-top: 1em;
}

.background-text { 
    margin: 1rem; 
    position: absolute; 
    z-index: -1; 
    font-size: 3em;
    color: #888888; 
}

.scrollable {
    max-height: 3em;
    overflow-y: scroll;
}

#play-bar-bg {
    border: 1px solid #AAAAAA;
    margin-bottom: 12px;
    /*background: #F7F7F7;*/
}

#play-bar {
    height: 20px;
    background: #0075FF;
    width: 0%;
}

#select-file {
    display: none;
}
