body {
    background: #DDDDDD;
    text-align: center;
}

fieldset {
    display: inline;
    border: 1px solid #AAAAAA;
    border-radius: 0.2em;
}

h1,
h2,
h3,
h4 {
    margin-top: 0em;
    font-family: 'Bree Serif', serif;
    text-shadow: 2px 3px 1px #AAAAAA;
}

p {
    margin-bottom: 0em !important;
}

td {
    border: 2px solid #AAAAAA;
    border-radius: 0.5em;
    min-width: 80px;
    max-width: 24vw;
    height: 27vh;
    text-align: center;
    position: relative;
}

.background-text { 
    margin: 1rem; 
    position: absolute; 
    z-index: -1; 
    font-size: 3em;
    color: #888888; 
    bottom: -0.4em;
}

.ch10vh>td {
    height: 10vh;
}

.fs2em {
    font-size: 1.66em;
}

.lsw {
    letter-spacing: 0.25em;
}

.mh30 {
    min-height: 30vh !important;
}

.mw310 {
    min-width:310px;
}

.pt1em {
    padding-top: 1em;
}

.scrollable {
    max-height: 3em;
    overflow-y: scroll;
}

.text-left {
    text-align: left;
}

#canvas {
    border: 1px solid #AAAAAA;
    border-radius: 0.5em;
    display: inline;
    height: 85%;
    position: absolute;
    left: 1em;
    top: 1em;
    width: 97%;
    z-index: 2;
}

#play-bar-bg {
    border: 1px solid #AAAAAA;
    margin-bottom: 12px;
    /*background: #F7F7F7;*/
}

#play-bar {
    height: 20px;
    background: #0075FF;
    width: 0%;
}

#select-file {
    display: none;
}
